baseURL: "https://franciscoruiz.ar/"
title: Francisco Ruiz
paginate: 5
theme: PaperMod

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

googleAnalytics: UA-123-45

minify:
    disableXML: true
    minifyOutput: true

params:
    env: production # to enable google analytics, opengraph, twitter-cards and schema.
    title: Francisco Ruiz
    description: "Francisco Ruiz Software Developer"
    keywords: [Blog, Portfolio]
    author: Me
    images: ["/icon.png"]
    DateFormat: "January 2, 2006"
    defaultTheme: auto # dark, light
    disableThemeToggle: false

    ShowReadingTime: true
    ShowShareButtons: true
    ShowPostNavLinks: true
    ShowBreadCrumbs: true
    disableSpecial1stPost: false
    disableScrollToTop: true
    comments: false
    hidemeta: false
    hideSummary: true
    showtoc: false
    tocopen: false

    assets:
        favicon: "/icon.png"
        favicon16x16: "/icon.png"
        favicon32x32: "/icon.png"
        apple_touch_icon: "/icon.png"
        safari_pinned_tab: "/icon.png"

    label:
        text: "Francisco Ruiz"
        icon: /icon.png
        iconHeight: 35

    # profile-mode
    profileMode:
        enabled: false # needs to be explicitly set
        title: Francisco Ruiz
        subtitle: "Backend Developer"
        imageUrl: /icon.png
        imageWidth: 120
        imageHeight: 120
        imageTitle: my image


    # home-info mode
    homeInfoParams:
        Title: "Hola! \U0001F44B"
        Content: "Soy Francisco, desarrollador de software en @MercadoLibre. Me especializo en el desarrollo de software con perspectiva de diseño de patrones y arquitectura, aplicando Clean Code, SOLID, TDD y Clean Architecture. ¡Echa un vistazo a mi trabajo o ponte en contacto!"

    socialIcons:
        - name: email
          url: "mailto:franciscoruizlezcano@gmail.com"
        - name: linkedin
          url: "https://linkedin.com/in/franciscorzl"
        - name: github
          url: "https://github.com/franciscorzl"

    analytics:
        google:
            SiteVerificationTag: "XYZabc"
        bing:
            SiteVerificationTag: "XYZabc"
        yandex:
            SiteVerificationTag: "XYZabc"

    cover:
        hidden: true # hide everywhere but not in structured data
        hiddenInList: true # hide on list pages and home
        hiddenInSingle: true # hide on single page

    editPost:
        URL: "https://github.com/franciscorzl/blog/content"
        Text: "Suggest Changes" # edit text
        appendFilePath: true # to append file path to Edit link

    # for search
    # https://fusejs.io/api/options.html
    fuseOpts:
        isCaseSensitive: false
        shouldSort: true
        location: 0
        distance: 1000
        threshold: 0.4
        minMatchCharLength: 0
        keys: ["title", "permalink", "summary", "content"]
menu:
    main:
        - identifier: posts
          name: Posts
          url: /posts
          weight: 20
        - identifier: tags
          name: Tags
          url: /tags
          weight: 20